*{
    margin: 0;
    padding: 0;
}

.header{
    text-align: center;
    margin: 5vh 0;
}

.add-product{
    text-align: center;
    margin: 2vh 0;
}

.add-product a{
    display: inline-block;
    text-decoration: none;
    color: black;
    background: lightgray;
    padding: 1vh;
    border-radius: 12px;
    transition: transform 0.3s ease;
}

.add-product a:hover{
    transform: scale(1.05);
}

.search-product{
    text-align: center;
}

.search-product input{
    padding: 1.5vh 1vw;
    width: 25%;
    font-size: medium;
    border-radius: 10px;
}

#product-grid{
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    align-items: stretch;
}

.product-card{
    background-color: #f7e5af;
    border-radius: 10px;
    padding: 3%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.product-card img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 10px;
}

.product-card h3{
    margin: 10px 0 5px;
    min-height: 50px; 
}

.product-card .description{
    min-height: 60px;
}

.product-card .price{
    font-weight: bold;
    margin: 10px 0;
}

.product-card input{
    width: 35%;
    margin: auto;
    padding: 0.75vh 0;
    cursor: pointer;
    border-radius: 5px;  
    transition: transform 0.3s ease;
    border: none;
}

.product-card .edit_data{
    background-color: #00800075;
}

.product-card .delete_data{
    background-color: #ff000075;
}

.product-card input:hover{
    transform: scale(1.05);
}

#product-display-grid{
    width: 90%;
    margin: auto;
}

#product-display-header{
    display: flex;
    justify-content: space-evenly;
    margin: 2vh 0;
}

#product-display-header h3, #addProductForm h3{
    font-size: xx-large;
}

/* Filter Select */
#filterSelect{
    padding: 1vh 1vh;
}

/* Form */
#addProductForm{
    width: 60%;
    margin: auto;
}

#addProductForm h3{
    margin: 2vh 0;
    text-align: center;
}

#productForm{
    display: flex;
    flex-direction: column;
    gap: 4vh;
}

#productForm input, textarea {
    padding: 1vh 1vw;
    border-radius: 10px;
    border: 1px solid black;
}

#productForm button{
    width: 25%;
    margin: auto;
    padding: 1vh 0;
    border-radius: 10px;
    background: lightgreen;
    cursor: pointer;
    transition: transform 0.3s ease;
}

#productForm button:hover{
    transform: scale(1.05);
}